{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% trans "Sign In" %}
{% endblock head_title %}
{% block main %}
  <!-- Login Area -->
  <div class="col-lg-6 col-md-8 col-sm-10">
    <div class="account_form">
      <h2>Welcome Back</h2>
      <p class="mb-4">
        Sign in to your GlowBeauty account to manage your orders,
        save your favourite products, and enjoy a personalized shopping experience.
      </p>
      <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="{{ form.login.id_for_label }}">
            {{ form.login.label }} <span>*</span>
          </label>
          {% render_field form.login %}
          <small>Use the email address associated with your GlowBeauty account.</small>
        </div>
        <div>
          <div class="d-flex align-items-center justify-content-between mb-1">
            <label for="{{ form.password.id_for_label }}">
              {{ form.password.label }} <span>*</span>
            </label>
            <a href="#">Forgot your password?</a>
          </div>
          {% render_field form.password|attr:"placeholder:Enter your password" %}
          <small>Enter your password to securely access your account.</small>
        </div>
        <div class="login_submit d-flex align-items-center flex-md-row flex-column justify-content-between mt-3">
          <button type="submit">Sign In</button>
          <p class="">
            Don't have an account?
            <a href="{% url 'account_signup' %}"><strong>Create one here</strong></a>
          </p>
        </div>
        {{ redirect_field }}
      </form>
    </div>
  </div>
{% endblock main %}
